<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library members</title>
</head>
<body>
<h2>Our lovely book-lovers</h2>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getBirthdate()}">User</a>
</div>
<br/>
<hr/>
<br/>
<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="Register new member!"/>
</form>
</br>
<form th:method="GET" th:action="@{/book}">
    <input type="submit" value="To the library!"/>
</form>
</body>
</html>