<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new member</title>
</head>
<body>
<form method="POST" th:action="@{/people}" th:object="${person}">
<label for="name">Enter member's name</label>
<input type="text" th:field="*{name}" id="name"/>
<div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
<br/>
<label for="birthdate">Enter your birth year</label>
<input type="text" th:field="*{birthdate}" id="birthdate"/>
<div style="color:red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">Birthdate Error</div>
<br/>
<input type="submit" value="Register new member"/>
</form>
</body>
</html>